

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (TempData["Success"] != null)
{
    <p class="alert alert-success" role="alert">@TempData["Success"]</p>
}

<h2>Customers</h2>

@Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary" })

<br />
<br />

<table class="table table-bordered table-hover" id="customers">
    <thead>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>#</th>
            <th>Customer</th>
            <th>Membership Type</th>
            <th>Operations</th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>


@section scripts
{
    <script>
        /* Formatting function for row details - modify as you need */
        function format(d) {
            var member = '';

            if (d.isSubscribedToNewsletter) {
                member = "Yes";
            } else {
                member = "No";
            }

            var dt = new Date(d.birthdate);
            var date = dt.getDate();
            var month = dt.getMonth() + 1;
            var year = dt.getYear()+ 1900;
            var birthdateString = date + "-" + month + "-" + year;

            // `d` is the original data object for the row
            return "<table class='table table-bordered table-hover'>" +
                "<tbody>" +
                "<tr>" +
                "<td><strong>Id</strong></td>" +
                "<td>" + d.id + "</td>" +
                "</tr>" +
                "<tr>" +
                "<td><strong>Name</strong></td>" +
                "<td>" + d.name + "</td>" +
                "</tr>" +
                "<tr>" +
                "<td><strong>Birthdate</strong></td>" +
                "<td>" + birthdateString + "</td>" +
                "</tr>" +
                "<tr>" +
                "<td><strong>Is Subscribed To Newsletter</strong></td>" +
                "<td>" + member + "</td>" +
                "</tr>" +
                "<tr>" +
                "<td><strong>Membership Type</strong></td>" +
                "<td>" + d.membershipType.name + "</td>" +
                "</tr>" +
                "<tr>" +
                "<td><strong>Membership Type Id</strong></td>" +
                "<td>" + d.membershipTypeId + "</td>" +
                "</tr>" +
                "</tbody>" +
                "</table>"
        }


        $(document).ready(function () {
            var table = $("#customers").DataTable({
                order: [],
                ajax: {
                    url: "/api/customers",
                    method: "GET",
                    dataSrc: ""
                },
                columns: [
                    {
                        className: "details-control",
                        data: null,
                        defaultContent: "<",
                        orderable: false
                    },
                    {
                        data: "name",
                        render: function (data, type, customer) {
                            return "<a href='/customers/edit/" + customer.id + "'>" + customer.name + "</a>";
                        }

                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger btn-sm js-delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customers tbody").on("click", "td.details-control", function () {
                var tr = $(this).closest("tr");
                var row = table.row(tr);

                if (row.child.isShown()) {
                    //This row is already open. Close it
                    row.child.hide();
                    tr.removeClass("shown");
                } else {
                    // open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            })

            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            })
        });
    </script>
}
